video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

#canvas {
    margin: 0px;
    width: 224px;
    height: 224px;
    border: 2px #333 solid;
    float: left;
    overflow: hidden;
}

#videoElement {
    width: 224px;
    height: 224px;
    background-color: #666;
}