div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 224px;
    margin-left: 10px;
}

img {
    background-color: grey;
    width:  224px;
    height: 224px;
}

.caption {
    text-align: center;
    display: block;
    border: 1px gray dotted;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 90%;
    width: 224px;
}

.row-label {
    font-size: larger;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    /*     float: right; */
}

figure {
  text-align: center;
  border: thin silver solid;
}

figcaption {
  font-family: monospace;     
}
