.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;

  }
}

.train-image {
  margin: 0px;
  padding: 2px;
}

.boxit {
       border: 2px #EEE solid;
}

.toggle {
 font-size: 10%;
 color: #666;
 margin-left: 25px;
}

.pbar {
      border: 1px #333 solid;
      padding: 10px;
}


.command {
         font-weight: bold;
         font-size: 110%;
}

.numeric {
  font-family: "courier new", "courier", "monospace";
  font-size: 90%;
}